* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
}
.sideNavbar {
  padding-top: 5vh;
  width: 22vw;
  height: 89vh;
  box-shadow: black;
  background-image: linear-gradient(to right, #9672fb, #d772fb);
  margin-left: 0px;
}
.navName {
  width: 50%;
  height: 10vh;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
  margin-bottom: 10vh;
}
.sideNavbar a {
  margin-top: 10vh;
  text-decoration: none;
}
.navPlace {
  margin-bottom: 8vh;
}
.heading {
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to right, #9672fb, #d772fb);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down {
  display: flex;
  height: auto;
}
.con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.music {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.dance {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}
.pic-d {
  width: 30vw;
}
.pic img {
  width: 300px;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn button {
  width: 16vw;
  margin-left: 10px;
  margin: 2vh 0;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.bbt {
  padding: 20px 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 37%);
  transition: 0.2s;
}
.bbt:active {
  transform: translateY(5px);
  box-shadow: none;
}
.name{
    font-size: 36px;
}
.pic-d{
    letter-spacing: 3px;
}