* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  overflow-x: hidden;
}
/* ------------------navbar --------------  */
header {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.logo {
  height: 60px;
  color: #12334e;
  cursor: pointer;
  padding-left: 20px;
  backdrop-filter: blur(10px);
}
.logo img{
  width: 120px;
}
#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #9051ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}
#toggle.active::before {
  transform: translateY(0) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}
#toggle.active {
  background: #f7226a;
}
#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: #fff;
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}
#navbar.active {
  width: 660px;
}
#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  color: #12334e;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 2px;
}
#navbar ul li a:hover {
  color: #fff;
  background: #9051ff;
}
/* --------------- cards section -------------  */
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vid video {
  height: 65vh;
  width: 100vw;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
}
.m-heading {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#theme {
  margin: 3vh;
  font-size: 18px;
}
.cards-s {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 8vh 0;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  position: relative;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(252, 245, 245);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
  transform: translate(2px, -2px);
}
.card-img img {
  width: 20vw;
  height: 22vh;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    80% 100%,
    80% 85%,
    20% 85%,
    20% 100%,
    0% 100%
  );
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card h1 {
  position: absolute;
  top: 20vh;
}
.card p {
  padding: 10px;
  margin: 20px 0;
}
.card a {
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 10px;
}
/* -------------- CTA buttons ----------- */
.cta {
  height: 50vh;
}
.cont-btn {
  width: 500px;
  margin: auto;
  text-align: center;
}
.cont-btn button {
  text-align: center;
  font-size: 5px;
  padding: 21px 51px;
  margin-right: 10px;
  margin-left: 10px;
}
.sp1 {
  font-size: 12px;
  text-transform: capitalize;
}
.sp2 {
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 20px;
}
.i {
  margin: 1px 11px -21px -7px;
  width: 25px;
}
.cont-btn > span {
  display: block;
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #2f2651;
  font-weight: 500;
}
.cont-btn div {
  display: flex;
}
.btn {
  background: linear-gradient(to right, #9672fb, #d772fb);
  padding: 20px 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 37%);
  transition: 0.2s;
}
.btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
/* -----------------section cover  ----------------*/
.cover {
  height: 60vh;
  background-image: url(img/bg.png);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.cover div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cover div img {
  width: 40px;
  margin: 0 0 30px;
  cursor: pointer;
}
.cover div h4 {
  color: #f6f6f9;
  font-family: 500;
  font-size: 25px;
}
/* ------------- social media ------------------- */
.social {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-image: url(img/design.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.s-heading > span {
  display: block;
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #2f2651;
  font-weight: 500;
  padding: 10px 50px;
  border-radius: 30px;
  background-color: rgb(252, 245, 245);
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 245, 245);
  padding: 10px 20px;
  border-radius: 25px;
}
.icon {
  margin: 0 5vw;
}
.bi {
  font-size: 60px;
}
.bi:hover,
.foot span:hover {
  color: cyan;
}
/* ------------------ footer --------------- */
.foot {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.foot h1 {
  margin-bottom: 20px;
}
.foot a {
  font-size: 20px;
  text-decoration: none;
  color: #584f79;
}
.f {
  font-size: 24px;
  margin: 0 10px;
}
/* --------------------- responive media queries ------------- */
@media (max-width: 990px) {
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
  .row {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 5vh 10vw;
  }
  .card-img img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 30vw;
  }
  .card h1 {
    top: 0;
  }
}
/* --------------------mobile view ----------------------- */
@media (max-width: 600px) {
  .card p span {
    display: none;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .card-img img {
    border-radius: 20px;
    width: 40vw;
  }
  .m-heading span {
    display: none;
  }
  .cont-btn div {
    display: flex;
    flex-direction: column;
  }
  .cta {
    height: 70vh;
  }
  .foot {
    flex-direction: column;
    height: 80vh;
  }
  .s-heading > span,
  .bi {
    font-size: 24px;
  }
  .about-para{
    background-color: rgb(252, 245, 245);
  }
}
/* ---------------------dark mode css ----------------------- */
.dark-mode {
  background-color: #000;
  color: #fff;
}
.card {
  color: #000;
}
/*--------------- scrollbar ------------------ */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* //////////////////////////////////////////////////////// */
/* ------------------ ABOUT US PAGE CSS ----------------- */
/* ///////////////////////////////////////////////////////////  */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 92vh;
  margin-top: 8vh;
  background-image: url(img/about.png);
  background-repeat: no-repeat;
  background-position:bottom ;
}
.about-heading{
  margin:5vh 0;
}
.about-para{
  margin: 0 7vw;
  text-align: center;
}